<div class="container vh-100">

    <div class="h-100 d-flex flex-column">
        <div class="col m-auto">

            <img class="img-fluid" src="./../../../assets/img/day69-dotted-notebook.png" alt="Note and a pen">

            <h1 class="display-2 fw-bold">Manage your Tasks</h1>
            <p class="lead fw-normal">
                Manage your task effectively
            </p>
            <div class="d-flex d-block">
                <a routerLink="/task/list" class=" btn btn-warning fw-normal">Login</a>
            </div>
        </div>

    </div>

</div>