<!-- <header class="px-2 py-3 fixed-top">
    <nav>
        <button type="button" class="btn btn-secondary d-flex align-items-center py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                </path>
            </svg>
        </button>
    </nav>
</header> -->


<div class="container">

    <div style="margin-top: 10vh;">
        <img src="./../../../../assets/img/Multitasking-bro.svg" style="transform: scale(1.1);" width="100%"
            alt="multitasking bro">
    </div>

    <h1 class="display-1 fw-normal">Hi {{name}}</h1>
    <p class="lead fw-normal"> Your today's
        <a routerLink="/task/add" class="link-info">Tasks</a>
        were
    </p>

    <ul class="list-group mb-4">
        <li *ngFor="let task of taskList | async"
            class="list-group-item list-group-item-action  border border-1 rounded-1 mb-3">
            <div class="d-flex w-100 justify-content-between">
                <!-- <h5 class="mb-1">List group item heading</h5> -->
                <small class="mb-1">{{ getTime(task.createdAt ) | date }} </small>
            </div>
            <p class="mb-1 lead fw-normal" style="">{{ task.task }}</p>

            <!-- <quill-view [content]="task.task" format="text" theme="snow"></quill-view> -->

        </li>

    </ul>


</div>